$color-accent: #FDB819;
$color-text: #000;
$color-title: #6ec1e4;
$color-white: #fff;
$color-red: #c0392b;

$transition-time: 0.3s;
$transition: all $transition-time ease;


$font-size: 15px;
$font: 'Rubik', sans-serif;